body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#root {
  padding: 4rem 0;
}

.bold {
  font-weight: bold
}

.mar-right-20 {
  margin-right: 20px
}

.ui.card {
  box-shadow: none
}

hr.thick {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #444;
  height: 1.5px;
  border: none;
  width: 70%;
  margin-left: 0
}

.categories .item {
  cursor: pointer
}

